 .dialog-pane{
  -fx-border-color:black;
  -fx-border-width:2.0px;
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color:black;
}

.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-background-color: black;
   -fx-text-fill:#7FFF00;
   -fx-font-size:15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: black;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: black;
  -fx-background-radius:10px;
  -fx-text-fill:#7FFF00;
  -fx-font-size:15.0px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgb(0.0353, 0.0667, 0.2471) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;

    -fx-min-width: 120;
    -fx-pref-width: 120;
    -fx-max-width: 120;

    -fx-min-height: 40;
    -fx-pref-height: 40;
    -fx-max-height: 40;
 }

.dialog-pane .button:hover{
    -fx-text-fill: #7FFF00;
 }

.dialog-pane .button:focused{
    -fx-text-fill: #7FFF00;
 }

